<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Frontend</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
</head>
<header>
<div class="container-fluid first_bg">
<div class="container">
    <div class="row ">
        <div class="col-lg-4 hdr">
            <img src="../img/icon-phone.png">
            <span>Toll for free:</span> <span>+1-(044)-147-0235</span>
        </div>
        <div class="col-lg-4 hdr">
            <img src="../img/icon-phone-2.png">
            <span>Call now:</span> <span>+1-(044)-147-0336</span>
        </div>
        <div class="col-lg-4 hdr">
<span>Join us:</span>
            <img src="../img/p.png">
            <img src="../img/tw.png">
            <img src="../img/f.png">
        </div>
    </div>
</div>
</div>
</header>
<body>