<header class="head">
    <div class="container-fluid bg_main">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-md-offset-1"><img src="../img/blablacom.png"></div>
                <div class="col-md-4">
                    <form>
                        <input type="text" placeholder="Search">
                    </form>
                </div>
                <div class="col-md-4">
                    <div class="tells">
                        <span class="newline">Call now: <a href="skype:+1 (310) 735 0699">1 (310) 735 0699</a></span>
                        <span class="newline">Toll free: <a href="skype:+1 (310) 735 0699">1 (888) 387 3081</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="container-fluid man">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <div class="menu1">
                        <ul>
                            <li>HOME</li>
                            <li>SERVICES</li>
                            <li>ORDER OUT</li>
                            <li>ABOUT US</li>
                            <li>OUR GUARANTEES</li>
                            <li>HOW IT WORKS</li>
                            <li>BEWARE</li>
                            <li>PRICES</li>
                            <li>DISCOUNT PROGRAM</li>
                            <li>TESTIMONIALS (1029)</li>
                            <li>SAMPLE ESSAYS</li>
                            <li>FAQ</li>
                            <li>BLOG</li>
                            <li>OUR CONTACTS</li>
                            <li>SITEMAP</li>
                        </ul>
                    </div>
                    <div class="login">
                        <img src="../img/usericon.png">
                        <img src="../img/username.png">
                        <div class="userpass">
                            <form>
                                <input class="username" type="text" placeholder="Email">
                                <input class="pass" type="text" placeholder="Password">
                            </form>
                        </div>
                        <div class="fp">
                            <div class="enter">
                                Enter
                            </div>
                            <div class="forgot">
                                Forgot password?
                            </div>
                            <div class="register">
                                To register place your 1st order
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-md-offset-1">
                <h1>Why are we different from other essay writing companies?</h1>
                <ul class="list2">
                    <li>We guarantee that plagiarism report is always lower that 10%</li>
                    <li>You can contact your writer for any additional instructions.</li>
                    <li>You can request FREE revision if you have any doubts for 2 weeks.</li>
                    <li>We can proudly claim to be able to cover over 70 subjects!</li>
                    <li>If you are not completely satisfied - request your money back!</li>
                    <li>Every paper is formatted according to your requirements.</li>
                    <li>You receive a discount within every next order!</li>
                </ul>
                <div class="ordernow"><img src="../img/ordernow.png"></div>
            </div>
            <div class="col-md-offset-1"></div>
        </div>
    </div>

</section>
<section>
    <div class="container">
        <div class="row">
            <!--<div class="col-md-12">-->
            <div class="whyus">
                WHY US?
            </div>
            <!--</div>-->
        </div>
    </div>
    <div class="container txtcol">
        <div class="row">
            <div class="col-md-9">
                <div class="whyustext">
                    <ul class="wy1">
                        <li>74% of first-time clients, return for more academic help in future.</li>
                        <li>We don't share any sensitive data with third parties, even you writer!</li>
                        <li>Neither we own, nor use any prewritten essays database!</li>
                        <li>Every essays is wtitten from scratch, according to your instructions.</li>
                        <li>Highest satisfaction rate 87,5 based on 900+ customers feedback.</li>
                        <li>No matter what deadline is 6 hours or 2 weeks - we will handle it!</li>
                        <li>If you are not happy with your order - get you money back!</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3 rav-little">
                <img src="../img/ravlik_little.png">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--<div class="col-md-12">-->
            <div class="benefits">BENEFITS</div>
            <!--</div>-->
        </div>
    </div>
    <div class="container txtcol">
        <div class="row">
            <div class="col-md-8">
                <div class="whyustext">
                    <ul class="wy">
                        <li>The writer is chosen according to your field of study</li>
                        <li>The research is performed based on reliable sources only</li>
                        <li>Yoy will get your order on time</li>
                        <li>No sensitive data will ever be disclosed</li>
                        <li>We don't care if it's 3 hours or 2 months for submissions</li>
                        <li>Your order will be delivered just when you need it</li>
                        <li>All the assigment guidelines are followed carefuly</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 rav-big">
                <img src="../img/ravlik_big.png">
            </div>
        </div>
    </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="features">FEATURES</div>
        </div>
    </div>
    <div class="container txtcol">
        <div class="row">
            <div class="col-md-2">
                <div class="element">
                    <img src="../img/support.png">
                    <p class="element_name">
                        SUPPORT
                    </p>
                    <p>
                        In quis magna eget magna rutrum henderit. Donec dap ibus aliquet magna in facilisis
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="element">
                    <img src="../img/service.png">
                    <p class="element_name">
                        SERVICE
                    </p>
                    <p>
                        Curabitur at rhoncus quam. In in tortor quis sem tempor ultricies in.
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="element">
                    <!--<img class="pr1" src="../img/oval.png">-->
                    <img class="pr1" src="../img/prices.png">
                    <p class="element_name">
                        PRICES
                    </p>
                    <p>
                        Aliquam tellus leo, egestas eget consectur sed, lobortis vel nisl.
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="element">
                    <img src="../img/discount.png">
                    <p class="element_name">
                        DISCOUNTS
                    </p>
                    <p>
                        Curabitur at rhoncus quam. In in tortor quis sem tempor ultricies in.
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="element">
                    <img src="../img/papers.png">
                    <p class="element_name">
                        PAPERS
                    </p>
                    <p>
                        Curabitur at rhoncus quam. In in tortor quis sem tempor ultricies in.
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="element">
                    <img src="../img/quality.png">
                    <p class="element_name">
                        QUALITY
                    </p>
                    <p>
                        Curabitur at rhoncus quam. In in tortor quis sem tempor ultricies in.
                    </p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="subelement1">
                        GET A PRICE QUOTE
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="subelement2">
                        CALENDAR
                    </div>

                </div>
                <div class="col-md-3">
                    <div class="subelement3">
                        FEATURES
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="sub11">
                        <form>
                            <div class="row">
                                <div class="col-md-4 label1">
                                    Type of assigment ment
                                </div>
                                <div class="col-md-3 col-md-offset-2 label2">
                                    Number of pages
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="inputsmth" type="text">
                                </div>
                                <div class="col-md-6">
                                    <input class="inputsmth2" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 label1">
                                    Writer level
                                </div>
                                <div class="col-md-3 col-md-offset-2 label2">
                                    Urgency
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="inputsmth" type="text">
                                </div>
                                <div class="col-md-6">
                                    <input class="inputsmth2" type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 label1">
                                    Spacing
                                </div>
                                <div class="col-md-3 col-md-offset-2 label2">
                                    Currency
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input class="inputsmth" type="text">
                                </div>
                                <div class="col-md-6">
                                    <input class="inputsmth2" type="text">
                                </div>
                            </div>

                            <div class="row total">
                                <div class="col-md-6">
                                    Total price: 22:99 USD
                                </div>
                                <div class="col-md-6">
                                    <div class="ordernow2">ORDER NOW</div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sub21">
                        <div class="month">
                        </div>
                        <ul class="weekdays">
                            <li>Mo</li>
                            <li>Tu</li>
                            <li>We</li>
                            <li>Th</li>
                            <li>Fr</li>
                            <li>Sa</li>
                            <li>Su</li>
                        </ul>

                        <ul class="days">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li>8</li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li>14</li>
                            <li><span class="active">15</span></li>
                            <li>16</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                            <li>21</li>
                            <li>22</li>
                            <li>23</li>
                            <li>24</li>
                            <li>25</li>
                            <li>26</li>
                            <li>27</li>
                            <li>28</li>
                            <li>29</li>
                            <li>30</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sub31">
                        <ul>
                            <li>24/7 LIVE SUPPORT</li>
                            <li>AFFORDA PRICES</li>
                            <li>PRIVATE & SECURE</li>
                            <li>ORDER MANAGEMENT</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="lifetime">
                LIFETIME DISCOUNTS
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 items">
                <div class="item1">.
                </div>
                <p class="orders1">RECIEVE</p>
                <p class="pcent0">10% OFF DISCOUNT</p>
                <p class="orders1">ON YOUR FIRST ORDER</p>
                <div class="item1">
                    BUY NOW
                </div>
            </div>
            <div class="col-md-3 items">
                <div class="item2">
                    SILVER MEMBER
                </div>
                <p class="pcent">5%</p>
                <p class="orders">ORDER 15+ PAGES TO GET A 5% LIFETIME DISCOUNT AS OUR SILVER MEMBER REWARD</p>
                <div class="item2">
                    BUY NOW
                </div>
            </div>
            <div class="col-md-3 items">
                <div class="item3">
                    GOLD MEMBER
                </div>
                <p class="pcent">10%</p>
                <p class="orders">ORDER 30+ PAGES TO GET A 10% LIFETIME DISCOUNT AS OUR SILVER MEMBER REWARD</p>
                <div class="item3">
                    BUY NOW
                </div>
            </div>
            <div class="col-md-3 items">
                <div class="item4">
                    PLATINUM MEMBER
                </div>
                <p class="pcent">15%</p>
                <p class="orders">ORDER 50+ PAGES TO GET A 15% LIFETIME DISCOUNT AS OUR SILVER MEMBER REWARD</p>
                <div class="item4">
                    BUY NOW
                </div>
            </div>
        </div>
        <div class="row">
            <div class="testimonials">
                TESTIMONIALS
            </div>
        </div>


        <div class="row">
            <div class="col-md-1 mans">
                <img src="../img/man.png">
            </div>
            <div class="col-md-1 col-md-offset-2 mans">
                <img src="../img/man.png">
            </div>
            <div class="col-md-1 col-md-offset-2 mans">
                <img src="../img/man.png">
            </div>
            <div class="col-md-1 col-md-offset-2 mans">
                <img src="../img/man.png">
            </div>
        </div>


        <div class="row">
            <div class="col-md-3 items2">
                <p class="orders_new">I thought I was taking a risk ordering a paper from your writing company. But it
                    all turned out very nicely, thank you.</p>
                <p class="author"> - Abraham, MO</p>
            </div>
            <div class="col-md-3 items2">
                <p class="orders_new">I thought I was taking a risk ordering a paper from your writing company. But it
                    all turned out very nicely, thank you.</p>
                <p class="author"> - Abraham, MO</p>
            </div>
            <div class="col-md-3 items2">
                <p class="orders_new">I thought I was taking a risk ordering a paper from your writing company. But it
                    all turned out very nicely, thank you.</p>
                <p class="author"> - Abraham, MO</p>
            </div>
            <div class="col-md-3 items2">
                <p class="orders_new">I thought I was taking a risk ordering a paper from your writing company. But it
                    all turned out very nicely, thank you.</p>
                <p class="author"> - Abraham, MO</p>
            </div>
        </div>
</section>

<section>
    <div class="container-fluid contacts">
        <div class="container">
            <div class="row">
                <div class="col-md-9 cont">
                    CONTACT FORM
                    <hr>
                </div>
                <div class="col-md-3 cont">
                    CONTACT US:
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <form
                    ">
                    <input class="contacts_input1" type="text" placeholder="name">
                    <input class="contacts_input2" type="text" placeholder="e-mail">
                    <input class="contacts_input3" type="text" placeholder="phone">
                    </form>
                </div>
                <div class="col-md-6">
                    <form>
                        <input class="comment" type="text" placeholder="Comment">
                    </form>
                    <div class="send">
                        SEND
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="tells2">
                        <span class="newline">Call now: <a href="skype:+1 (310) 735 0699">1 (310) 735 0699</a></span>
                        <span class="newline">Toll free: <a href="skype:+1 (310) 735 0699">1 (888) 387 3081</a></span>
                    </div>
                    <div class="faceb">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                    <div class="twitt">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <div class="instagr">
                        <i class="fab fa-instagram"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="menu_second">
                <ul class="menu_second">
                    <li class="menu_second_li">Home</li>
                    <li>|</li>
                    <li class="menu_second_li">Our services</li>
                    <li>|</li>
                    <li class="menu_second_li">Our process</li>
                    <li>|</li>
                    <li class="menu_second_li">Order now</li>
                    <li>|</li>
                    <li class="menu_second_li">About us</li>
                    <li>|</li>
                    <li class="menu_second_li">Discounts</li>
                    <li>|</li>
                    <li class="menu_second_li">Benefits</li>
                    <li>|</li>
                    <li class="menu_second_li">FAQ</li>
                    <li>|</li>
                    <li class="menu_second_li">Testimonials</li>
                    <li>|</li>
                    <li class="menu_second_li">Contact us</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid footer">
        <div class="container">
            <div class="row footer_text">
                Buy essay paper Buy research papers Buy term papers Write my essay Alredy written essay Nuy custom
                research paper Custom essay writing service Custom writing service Essay writting help Online essay
                writing Term papers writter Affordoble term paper Collage essay writting Custom term paper online
                Essay online example Non-plagiarized custom term paper Application Book Review Education Exploratory
                Health Law Literature Medicine Psychology Review
            </div>
            <div class="row">
                <p class="more_actions">MORE ARTICLES</p>
            </div>
            <div class="row">
                <img class="more_actions_img" src="../img/arrow_down.png">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="last_footer">
                BlaBlaEssay.com 2016 &#9400; All rights reserved.
            </div>
        </div>
    </div>
</section>
