$main_bg_second: #14a85c;
$main__bg_color: #86ea8f;
$btn_bg_order: #e84c3d;
$light_font: #ffffff;
$h1_dark_font: #003300;
$h2_dark_font: #4e4e4e;
$footer: #4e4e4e;
$main_dark_font: #777777;
$facebok_color: #4d6597;
$twitter_color: #28c3ff;
$pinterest_color: #e84c3d;

