.hdr {
  color: #ffffff;
  //font-family: Montserrat;
  //font-size: 24px;
  font-weight: 400;
  /* Text style for "Toll for f" */
  font-size: 18px;
  letter-spacing: 0.45px;
  ///* Text style for "+1-(044)-1" */
  //letter-spacing: 0.6px;
}
.first_bg{
  background-color: $main_bg_second;
}