.main {
  background-color: #ccc;
}

.sidebar {
  display: inline-block;
  width: 49%;
  background-color: greenyellow;
}

.center {
  background-color: darkslategrey;
  display: inline-block;
  width: 49%;
}

.bg_main{
  background-color: $bg_main;
  border-bottom: 5px solid #c44144;
}

.head img {
  width: auto;
  height: auto;
  margin: 20px 0px;
}

.head input {
  width: 100%;
  padding: 10px 0px;
  margin-top: 18px;
}

.head a{
  color: $font_color_light;
  font-size: 21px;
}

.head a:hover{
text-decoration: none;
}

.head a:hover, a:visited, a:link, a:active
{
  text-decoration: none;
}

.head span{
  color: $font_color_light;
  font-size: 22px;

}

.tells{
  margin-top: 5px;
}

.newline{
  display: inline-block;
}


.man{
  display: block;
  background-image: url(../../img/image_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}

.menu1{
  background-color: $bg_main;
  color: $font_color_light;
  font-size: 18px;

}

.menu1 li:hover{
  font-weight: bold;
  cursor: pointer;
}

.menu1 ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.menu1 li {
  border-bottom: 1px solid #e13538;
  padding-left: 30px;
}

.list2 {
  font-size: 20px;
  color: $font_color_dark;
  margin-left: -20px;
  line-height: 2;
}

.ordernow{
  display: inline-block;
  background-color: $bg_main;
  padding: 10px;
  cursor: pointer;
}
.ordernow:hover{
  box-shadow: 0 0 10px white;
}

.login {
  display: inline-block;
  background-color: #1c3c50;
  //text-align: center;
}

.userpass{
  text-align: center;
}

.username{
  display: inline-block;
  background-color: $font_color_light;
  padding: 8px 0px;
  width: 80%;

}
::-webkit-input-placeholder {
  font-style: italic;
  text-align: left;
}

.pass{
  display: inline-block;
  background-color: $font_color_light;
  padding: 8px 0px;
  width: 80%;
  margin-top: 10px;
}

.forgot{
  text-decoration: underline;
  margin-top: -30px;
  margin-left: 25px;
  font-size: 14px;
  color: $font_color_light;
}
.login img {
  padding: 10px 0px;
  margin-left: 25px;
}

.register{
  display: inline-block;
  color: $font_color_light;
  margin-left: 25px;
  padding-bottom: 10px;
}

.enter{
  display: inline-block;
  background-color: $bg_main;
  margin-top: 10px;
  margin-left: 154px;
  font-size: 16px;
  padding: 6px 22px;
  color: $font_color_light;
}

.enter:hover{
  cursor: pointer;
  box-shadow: 0 0 10px white;
}

.fp{
  //text-align: left;
  width: 60%;
  display: inline-block;
}

.whyus{
  background-color: $bg_main;
  color: $font_color_light;
  font-size: 25px;
  padding: 15px 25px;
  margin-top: 75px;
}


.whyustext{

  background-color:#f0e3e9;
  padding: 25px 15px;
  font-size: 18px;

}

.wy{
  margin: 0px;
  padding: 15px 25px;
  line-height: 1.7;
}

.wy1{
  margin: 0px;
  padding: 15px 25px;
  line-height: 1.7;
}


.benefits{
  background-color: $bg_main;
  color: $font_color_light;
  font-size: 25px;
  padding: 15px 25px;
  //margin-top: 75px;
}

.rav-little{
  background-color: $bg_main;
  margin: 45px 0px;
  padding: 85px;
  text-align: center;
}
.rav-big{
  background-color: $bg_main;
  margin: 45px 0px;
  padding: 60px 0px;
  text-align: center;
}

.txtcol{
  background-color:#f0e3e9;
}

.features{
  background-color: $bg_main_second;
  color: $font_color_light;
  font-size: 25px;
  padding: 15px 25px;
}

.element{
  margin-top: 80px;
  text-align: center;
  margin-bottom: 65px;
}

.pr1{
  position: relative;
  top: 0;
  left: 0;
}

.pr2{
  position: absolute;
  top: 85px;
  left: 70px;
}


.element_name{
  font-size: 20px;
  color: $bg_main;
}


.subelement1{
  background-color: $bg_main;
  color: $font_color_light;
  font-size: 25px;
  padding: 15px 25px;
  margin-left: -30px;
  //width: 100%;
}
.subelement2{
  background-color: $bg_main;
  color: $font_color_light;
  font-size: 25px;
  padding: 15px 25px;
  //width: 100%;
}

.subelement3{
  background-color: $bg_main;
  color: $font_color_light;
  font-size: 25px;
  padding: 15px 25px;
  //width: 100%;
}
.sub11{
  background-color: $bg_main_second;
  margin-left: -30px;
}
.sub21{
  background-color: $bg_main_second;
}
.sub31{
  background-color: $bg_main_second;
  color: $font_color_light;
  margin: 0px;
  padding: 37.5px 10px;
  line-height: 1.7;
}

.inputsmth{
  width: 82%;
  margin-left: 25px;
  //margin-top: 25px;
}
.inputsmth2{
  width: 82%;
  margin-left: 25px;
  //margin-top: 25px;
}

.ordernow2{
  display: inline-block;
  background-color: $bg_main;
  padding: 0px 25px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}
.total{
  text-align: center;
  color: $font_color_light;
  margin-top: 25px;
}

.label1{
  text-align: left;
  color: $font_color_light;
  margin-left: 25px;

}
.label2{
  text-align: left;
  color: $font_color_light;
  //margin-left: 25px;

}

//* {box-sizing: border-box;}
//ul {list-style-type: none;}
//body {font-family: Verdana, sans-serif;}

.month {
  //padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: $bg_main_second;
}

.weekdays li {
  display: inline-block;
  width: 12.6%;
  color: $font_color_light;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}

.days {
  padding: 10px 0;
  background: $bg_main_second;
  margin: 0;
  padding-bottom: 28px;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 12.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:14px;
  color: $font_color_light;
  font-weight: bold;
}

.days li:hover {
  cursor: pointer;
  //text-shadow: 1px 1px black;
  background-color: #337ab7;
}

.days li .active {
  padding: 5px 8px;
  background: $bg_main;
  color: $font_color_light;
}
.lifetime{
  background-color: $bg_main;
  color: $font_color_light;
  font-size: 25px;
  padding: 15px 25px;
  margin-top: 75px;
}

.items{
  margin-top: 75px;
  text-align: center;

}

.item1{
  background-color: $bg_main;
  padding: 12.25px 0;
  color: $font_color_light;
  font-size: 18px;
  margin-left: -15px;

}

.item1:hover{
  box-shadow: 0 0 20px black;
  cursor: pointer;
}

.item2{
  background-color: $bg_main_second;
  font-size: 18px;
  color: $font_color_light;
  padding: 12.25px 0px;
}
.item2:hover{
  box-shadow: 0 0 20px black;
  cursor: pointer;
}

.item3{
  background-color: $bg_main_second;
  font-size: 18px;
  color: $font_color_light;
  padding: 12.25px 0px;
}
.item3:hover{
  box-shadow: 0 0 20px black;
  cursor: pointer;
}

.item4{
  background-color: $bg_main_second;
  font-size: 18px;
  color: $font_color_light;
  padding: 12.25px 0px;
  margin-right: -15px;
}
.item4:hover{
  box-shadow: 0 0 20px black;
  cursor: pointer;
}

.pcent0{
  font-size: 41.3px;
  color: $bg_main;
  font-weight: bold;
}

.pcent{
  font-size: 45px;
  color: $bg_main_second;
  font-weight: bold;
}

.orders{
  font-size: 25px;
  color: $bg_main_second;
}

.orders1{
  font-size: 25px;
  color: $bg_main;
  margin-top: 25.5px;
}

.testimonials{
  background-color: $bg_main;
  color: $font_color_light;
  font-size: 25px;
  padding: 15px 25px;
  margin-top: 30px;
}

.testimonials img{
  text-align: left;
}

.mans{
  margin-top: 42px;
  text-align: center;

}

.orders_new{
  font-size: 15px;
  color: $bg_main_second;
  text-align: justify;
}

.author{
  font-size: 15px;
  color: $bg_main_second;
  text-align: center;
}

.items2{
  margin-top: 0px;
  text-align: center;

}

.comment{
  margin-top: 10px;
  padding: 84px;
  margin-left: -10px;
  width: 100%;
}

.contacts{
  background-color: $bg_main;
  color: $font_color_light;
  font-size: 18px;
}

.contacts_input1{
  width: 100%;
  margin-top: 10px;
  margin-left: -10px;
  padding: 7px;
}

.contacts_input2{
  width: 100%;
  margin-top: 34px;
  margin-left: -10px;
  padding: 7px;
}

.contacts_input3{
  width: 100%;
  margin-top: 34px;
  margin-left: -10px;
  padding: 7px;
}

.cont{
  margin-left: -10px;
  margin-top: 21px;
}

//input[type='text']:focus{
//  text-align:left;
//}



.menu_second{
  background-color: $bg_main_second_light;
  color: $font_color_light;
  list-style-type: none;
  text-align: center;
  padding: 8px 0px;

}

.menu_second li{
  display: inline;
  font-size: 19px;
}

menu_second_li{
  cursor: pointer;
}

.menu_second_li:hover{
  cursor: pointer;
  text-shadow: 2px 2px #000000
}
.footer{;
  background-color: $bg_main_second;
  color: $font_color_light;
  text-align: center;
}

.footer_text{;
  color: $font_color_light;
  margin-top: 22px;
}

.more_actions{
  color: $font_color_light;
  font-weight: bold;
}

.more_actions_img{
  margin-bottom: 32px;
}

.last_footer{
  background-color: $bg_main_second_light;
  color: $font_color_light;
  list-style-type: none;
  text-align: center;
  padding: 30px 0px;
}

.tells2{
  margin-top: 5px;
  margin-left: -10px;
  font-size: 18px;
}

.tells2 a{
  color: $font_color_light;

}

.send{
  width: 100%;
  background-color: $bg_main_second;
  color: $font_color_light;
  text-align: center;
  padding: 10px;
  margin-left: -10px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.send:hover{
  cursor: pointer;
  box-shadow: 0 0 20px white;

}

.faceb{
  display: inline-block;
  background-color: white;
  text-align: center;
  font-size: 36px;
  color: $bg_main;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 30px;
}
.faceb:hover{
  box-shadow: 0 0 20px white;
cursor: pointer;
}


.twitt{
  display: inline-block;
  background-color: white;
  text-align: center;
  font-size: 36px;
  color: $bg_main;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 30px;
}

.twitt:hover{
  box-shadow: 0 0 20px white;
  cursor: pointer;
}

.instagr{
  display: inline-block;
  background-color: #6a453b;
  text-align: center;
  font-size: 36px;
  color: $bg_main;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 30px;
}

.instagr:hover{
  box-shadow: 0 0 20px white;
  cursor: pointer;
}